<li> {{question.text}}
  {{#if isAuthorShowing}}
    <p> {{question.author}} </p>
  {{else}}
    <button {{action 'authorShow'}}> Show Author </button>
  {{/if}}
  <button {{action 'delete' question}}> Delte </button>
</li>
