<h2>
  Question: {{question.text}} <hr>  Author: {{question.author}} <br> <br> Notes: {{question.notes}}
</h2>

<button {{action 'delete' question}}>Delete Question </button>


<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.text}} by {{answer.author}}</li>
  {{/each}}
</ul>
