<h2 class="boldText">
  Question: {{question.text}}
</h2>
<h2 class="lessBold">
  Author: <span class="authorText"> {{question.author}} </span> <br> <br>
  Notes: {{question.notes}}
</h2>

<button {{action 'delete' question}}>Delete Question </button>


<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.text}} by <span class="authorText"> {{answer.author}} </span> </li>
  {{/each}}
</ul>
