<header class= "jumbotron">
<br>
<br>
<br>
<br>
<div class="questionList">
  {{#rl-dropdown-container class="dropdown"}}
    {{#rl-dropdown-toggle class="btn btn-default"}}
      Navigate Site <span class="caret"></span>
    {{/rl-dropdown-toggle}}

    {{#rl-dropdown tagName="ul" class="dropdown-menu" closeOnChildClick="a:link"}}
    <li> {{#link-to 'index' tagName='li'}}
      {{link-to 'Home'}}
    {{/link-to}}    </li>
    <li> {{#link-to 'question' 0 tagName='li'}}
      {{link-to 'question 1'}}
      {{/link-to}}    </li>
    <li> {{#link-to 'question' 1 tagName='li'}}
      {{link-to 'question 2'}}
      {{/link-to}}    </li>
      <li> {{#link-to 'question' '-KEauc_IeuF1MaMCht-c' tagName='li'}}
        {{link-to 'question 3'}}
        {{/link-to}}    </li>
    {{/rl-dropdown}}
  {{/rl-dropdown-container}}
</div>

<div class="favoritesBorder">
  {{display-favorites}}
</div>
<br>
<br>
<br>
</header>

<div class = "container">
  {{outlet}}
</div>

<hr>

<footer>
<center> <h3 class="lessBold"> Site by Jacob Steinberg - 2016 </h3> </center>
</footer>
