<h2> {{question.text}} </h2>


{{question-detail question=model deleteQuestion="deleteQuestion"}}
{{update-question question=model update="update"}}

<hr>



<h2 class="lessBold"> Answer(s): </h2>
<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer edit="editAnswer" deleteAnswer="deleteAnswer"}}
  {{/each}}
</ul>

{{new-answer saveB="saveC" post=model}}
<br>
<span class = "boldText"> {{#link-to 'index'}} Back {{/link-to}} </span>
