<div class="container" id="border4">
  <div class="col-md-6">
    <div id="border5">
      <h2> {{question.text}} </h2>
        {{question-detail question=model deleteQuestion="deleteQuestion"}}
        {{update-question question=model update="update"}}
    </div>
    <hr>
    {{new-answer saveB="saveC" post=model}}
    <span class = "boldText"> {{#link-to 'index'}} Back {{/link-to}} </span>
  </div>
  <div class="col-md-6" id="border2">
    <h2 class="lessBold"> Answer(s): </h2>
        <ul>
          {{#each model.answers as |answer|}}
          <div class="col-md-6">
            {{answer-tile answer=answer edit="editAnswer" deleteAnswer="deleteAnswer"}}
          </div>
          {{/each}}
        </ul>

    <br>
  </div>
</div>
